In [41]:
# question 1

import pandas as pd

# Creating a Pandas Series for population
population_data = {'Country A': 1000000, 'Country B': 1500000, 'Country C': 800000}
population_series = pd.Series(population_data, name='Population')

# Creating a Pandas DataFrame for population and GDP data
data = {
    'Country': ['Country A', 'Country B', 'Country C'],
    'Population': [1000000, 1500000, 800000],
    'GDP (in USD)': [200000, 300000, 150000]
}
df = pd.DataFrame(data)

# Printing the types of the Series and DataFrame
print("Type of Population Series:", type(population_series))
print("Type of DataFrame:", type(df))

Type of Population Series: <class 'pandas.core.series.Series'>
Type of DataFrame: <class 'pandas.core.frame.DataFrame'>

In [8]:
#question 2
import pandas as pd

customer_data= pd.read_csv("customer_transactions.csv")
print("Number if rows and colums:", customer_data.shape)
print("colum names and data types")
print(customer_data.dtypes)

Number if rows and colums: (20000, 13)
colum names and data types
transaction_id               int64
product_id                   int64
customer_id                  int64
transaction_date            object
online_order                object
order_status                object
brand                       object
product_line                object
product_class               object
product_size                object
list_price                 float64
standard_cost               object
product_first_sold_date    float64
dtype: object

In [9]:
#question 3
unique_customers = df['customer_id'].nunique()
print("number of unique customer:", unique_customers)

number of unique customer: 3494

In [13]:
min_date = df['transaction_date'].min()
max_date = df['transaction_date'].max()
print("Range of transaction Dates:", min_date,"to", max_date)

Range of transaction Dates: 01/01/2017 to 31/10/2017

In [14]:
online_orders = df[df['order_status'] == 'online']
num_online_orders = online_orders.shape[0]
print("Number of Online Orders:", num_online_orders)

Number of Online Orders: 0

In [15]:
unique_brands = df['brand'].nunique()
brand_percentage = (df['brand'].value_counts() / len(df)) * 100

print("Number of Different Brands:", unique_brands)
print("Brand Percentage:")
print(brand_percentage)

Number of Different Brands: 6
Brand Percentage:
Solex             21.265
Giant Bicycles    16.560
WeareA2B          16.475
OHM Cycles        15.215
Trek Bicycles     14.950
Norco Bicycles    14.550
Name: brand, dtype: float64

In [18]:
unique_product_lines = df['product_line'].nunique()
product_line_percentage = (df['product_line'].value_counts() / len(df)) * 100

print("Number of Different Product Lines:", unique_product_lines)
print("Product Line Percentage:")
print(product_line_percentage)

Number of Different Product Lines: 4
Product Line Percentage:
Standard    70.880
Road        19.850
Touring      6.170
Mountain     2.115
Name: product_line, dtype: float64

In [17]:
unique_product_classes = df['product_class'].nunique()
product_class_percentage = (df['product_class'].value_counts() / len(df)) * 100

print("Number of Different Product Classes:", unique_product_classes)
print("Product Class Percentage:")
print(product_class_percentage)

Number of Different Product Classes: 3
Product Class Percentage:
medium    69.130
high      15.065
low       14.820
Name: product_class, dtype: float64

In [16]:
#question 4
missing_values = df.isna().sum()
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [19]:
duplicated_rows = df[df.duplicated()]
print("Duplicated Rows:")
print(duplicated_rows)

Duplicated Rows:
Empty DataFrame
Columns: [transaction_id, product_id, customer_id, transaction_date, online_order, order_status, brand, product_line, product_class, product_size, list_price, standard_cost, product_first_sold_date]
Index: []

In [22]:
df = df.rename(columns={'brand': 'brand_names'})

In [21]:
#question 5
approved_data = df[df['order_status'] == 'approved']
selected_columns = approved_data[['customer_id', 'transaction_date', 'order_status']]
print(selected_columns.head(10))
new_dataset = selected_columns

Empty DataFrame
Columns: [customer_id, transaction_date, order_status]
Index: []

In [36]:
#question 6
approved_data['transaction_date'] = pd.to_datetime(approved_data['transaction_date'])
approved_data['year'] = approved_data['transaction_date'].dt.year
approved_data['month'] = approved_data['transaction_date'].dt.month
unique_customers_by_month_year = approved_data.groupby(['year', 'month'])['customer_id'].nunique()
print(unique_customers_by_month_year)

Series([], Name: customer_id, dtype: int64)

In [40]:
standard_products = df[df['product_line'] == 'standard']

# Create a column to categorize list prices as high or low
cutoff_price = 20  # You can adjust this cutoff as needed
standard_products['price_category'] = standard_products['list_price'].apply(lambda x: 'High' if x > cutoff_price else 'Low')

# Convert the purchase date to a datetime object (if it's not already)
standard_products['transaction_date'] = pd.to_datetime(standard_products['transaction_date'])

# Extract month and year from the purchase date
standard_products['year'] = standard_products['transaction_date'].pd.year
standard_products['month'] = standard_products['transaction_date'].pd.month

# Group by Year, Month, and Price Category
price_summary = standard_products.groupby(['Year', 'Month', 'Price_Category'])['List_Price'].mean().reset_index()

print(standard_products['product_first_sold_date'])

AttributeError: ignored